<!DOCTYPE html>
<html>
  <head>
    <title>PetShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!--    Footer-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--    /Footer-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="category-<%= main_id %>">
  <div class="container sticky-top">
    <nav class="navbar navbar-expand-lg text-decoration">
      <%= link_to 'PetShop', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon">Brand</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% MainCategory.all.each do |category| %>
            <% if main_id == category.id %>
              <li class="nav-item active">
                <%= link_to category.name, category_path(category.categories.first.id), class: 'nav-link'  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to category.name, category_path(category.categories.first.id), class: 'nav-link' %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <div class="mr-auto">
          <%#= render 'search/form' %>
        </div>

        <ul class="navbar-nav pull-xs-right">
          <li>
            <%= link_to cart_path(@cart), class: 'nav-link navbar-text' do %>
              <span class="cart-count">Корзина
                <%= cart_count_over_one %>
              </span>
            <% end %>
          </li>
          <% if user_signed_in? %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.user_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%#= link_to t(:my_man),  user_path(current_user.id), class: 'dropdown-item' %>
                <%#= link_to t(:new_man),  new_manual_path, class: 'dropdown-item' %>
                <%#= link_to t(:all_users),  admin_users_path, class: 'dropdown-item' if current_user.admin? %>
                <%#= link_to t(:categ),  admin_categories_path, class: 'dropdown-item' if current_user.admin? %>
<!--                <div class="dropdown-divider"></div>-->
                <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>

          <% else %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Профиль
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%#= link_to "FB", user_facebook_omniauth_authorize_path, class: 'dropdown-item' %>
                <%#= link_to "VK", user_vkontakte_omniauth_authorize_path, class: 'dropdown-item' %>
                <%= link_to 'Войти',  new_user_session_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Регистрация', new_user_registration_path, class: 'dropdown-item' %>
              </div>
            </li>

          <% end %>
        </ul>

      </div>
    </nav>
  </div>
  <div>
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name,message| %>
          <div class="alert <%= bootstrap_class_for(name) %>">
            <button class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
        <%= yield %>
<!--    Footer-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <div class="container">
    <!--footer starts from here-->
    <footer class="footer">
      <div class="container bottom_border">
        <div class="row">
          <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Ищите нас</h5>
            <!--headin5_amrc-->
            <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p><i class="fa fa-location-arrow"></i> Минск, улица Гикало 9, 000000 </p>
            <p><i class="fa fa-phone"></i>  +37529--- -- --  </p>
            <p><i class="fa fa fa-envelope"></i> info@example.com  </p>


          </div>


          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Полезные ссылки</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
              <li><a href="#">Спонсоры</a></li>
              <li><a href="#">Вет клиники</a></li>
              <li><a href="#">Питомники</a></li>
              <li><a href="#">Полезная ссылка</a></li>
              <li><a href="#">Полезная ссылка</a></li>
            </ul>
            <!--footer_ul_amrc ends here-->
          </div>


          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Полезные ссылки</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
              <li><a href="#">Спонсоры</a></li>
              <li><a href="#">Вет клиники</a></li>
              <li><a href="#">Питомники</a></li>
              <li><a href="#">Полезная ссылка</a></li>
              <li><a href="#">Полезная ссылка</a></li>
            </ul>
            <!--footer_ul_amrc ends here-->
          </div>


          <div class=" col-sm-4 col-md  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Мы в соцсетях</h5>
            <!--headin5_amrc ends here-->

            <ul class="footer_ul2_amrc">
              <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...</p></li>
              <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...</p></li>
              <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...</p></li>
            </ul>
            <!--footer_ul2_amrc ends here-->
          </div>
        </div>
      </div>


      <div class="container">
        <ul class="foote_bottom_ul_amrc">
          <li><%=link_to 'Главная', root_path%></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Цены</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Права @2019 | Сайт разработан <a href="#">Товары-для-животных-Оберемко</a></p>

        <ul class="social_footer_ul">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
      </div>

    </footer>
    <!--    /Footer-->
  </div>
  </div>
  </body>
</html>
